<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>screenAppHiden.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>5F72E96E1FF5EF7C00209775</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5F72E9861FF5EF7C00209775</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5F72E9911FF5EF7C00209775</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
